{% extends 'base/base.html' %}
{% load static %}

{% block body_content %}
    <div class="loader" id="loader"></div>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Car Damage Detection</h1>
                    </div>
                    <div class="card-body">
                        <form id="uploadForm" action="#" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <input type="file" class="form-control" name="image" id="imageInput" accept="image/*"
                                    required>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" id="uploadBtn">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Display decoded image -->
    <div class="container mt-2 decodedImage" style="display: none;">
        <div class="row justify-content-center">
            <h3 id="text-damage"></h3>
            <div class="col-md-8">
                <img id="decodedImage" class="img-fluid" alt="Decoded Image" style="width:100%; height: 340px;">
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#uploadForm').validate({ // Initialize form validation
                rules: {
                    image: {
                        required: true // Image file is required
                    }
                },
                messages: {
                    image: {
                        required: "Please select an image" // Error message for required image
                    }
                },
                submitHandler: function (form) {
                    $('#uploadBtn').prop('disabled', true);
                    $('#loader').show(); // Show loader
                    var formData = new FormData(form);
                    formData.append('image_path', formData.get('image'));
                    $.ajax({
                        type: 'POST',
                        url: 'http://127.0.0.1:8000/api/pred-img-api',
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (responseData) {
                            console.log(responseData['Detact-Result']);
                            $('.decodedImage').show();
                            $('#decodedImage').attr('src', 'data:image/png;base64,' + responseData.predicted_image);
                            $('#uploadBtn').prop('disabled', false);
                            $('#text-damage').html(responseData['Detact-Result'])

                            if(responseData['Detact-Result'] == 'Not-Damage'){
                                $('#text-damage').css('color','green');
                            }else{
                                $('#text-damage').css('color','red');
                            }
                        },
                        error: function (xhr, status, error) {
                            $('.decodedImage').hide();
                            console.error('Error:', xhr.statusText);
                            $('#uploadBtn').prop('disabled', false);
                        },
                        complete: function () {
                            $('#loader').hide(); // Hide loader after AJAX call completes
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}

</html>